<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ or .Title .Site.Title }}{{ if ne .Kind "home" }} | {{ .CurrentSection.Title }}{{ end }}</title>
  {{ $style := resources.Get "styles/style.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="stylesheet" href="/styles/style.min.css">
  
  <link rel="icon" type="image/png" sizes="64x64" href="/img/logo01_64px.png">
</head>
<body>
  <div class="nav-wrapper">
    <nav class="nav">
      <div class="nav-brand nav-link" href="/">
        <img src="/img/Foto-Renninger-SL_720.png" alt="Foto of Dr. Sabine L. Renninger" class="nav-img">
      </div>
      <div class="nav-collapse">
        <a class="nav-link" href="/">About</a>
        <a class="nav-link" href="/publications/">Publications</a>
        <a class="nav-link" href="/projects/">Projects</a>
        <!-- <a class="nav-link" href="/blog/">Blog</a> -->
      </div> 
    </nav>
  </div>
  <div class="main-wrapper">
  {{ block "page" . }}{{ end }}
  </div>
</body>
</html>
