<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ or .Title .Site.Title }}{{ if ne .Kind "home" }} | {{ .CurrentSection.Title }}{{ end }}</title>
  {{ $style := resources.Get "styles/style.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="stylesheet" href="/styles/style.min.css">
  
  <link rel="icon" type="image/png" sizes="64x64" href="/img/logo01_64px.png">
</head>
<body>
  <div class="nav-wrapper">
    <nav class="nav">
      <div class="nav-brand nav-link" href="/">
        <img src="/img/Foto-Renninger-SL_720.png" alt="Foto of Dr. Sabine L. Renninger" class="nav-img">
      </div>
      <div class="nav-collapse">
        <a class="nav-link" href="/">About</a>
        <a class="nav-link" href="/publications/">Publications</a>
        <a class="nav-link" href="/projects/">Projects</a>
        <!-- <a class="nav-link" href="/blog/">Blog</a> -->

        <div class="social">
          <a class="nav-link email dd" href="mailto:sabine.renninger@neuro.fchampalimaud.org">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
          </a>
          <a class="nav-link linkedin dd" href="http://www.linkedin.com/in/sabine-renninger-907a902a1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M8 11l0 5" /><path d="M8 8l0 .01" /><path d="M12 16l0 -5" /><path d="M16 16v-3a2 2 0 0 0 -4 0" /></svg>
          </a>
        </div>
      </div>

    </nav>
  </div>
  <div class="main-wrapper">
  {{ block "page" . }}{{ end }}
  </div>
</body>
</html>
