:root {
  --side-panel-width: 480px;
}

@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 400;
  src:
    url("/fonts/IBMPlexSans-Regular.woff2") format("woff2"),
    url("/fonts/IBMPlexSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 600;
  src:
    url("/fonts/IBMPlexSans-SemiBold.woff2") format("woff2"),
    url("/fonts/IBMPlexSans-SemiBold.woff") format("woff");
}

body {
  background-color: #fefefe;
  position: relative;
  color: #222;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  font-family: "IBMPlexSans", "IBM Plex Sans", sans-serif;
  min-height: 100vh;
  align-content: center;
}

body::after {
  content: "";
  background-image: url(/img/bg1_1280.jpg);
  background-size: cover;
  opacity: 0.42;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  min-height: 100vh;
}

.nav-wrapper {
  background-color: #27a;
  // background: linear-gradient(90deg, #9bc, #27a);
  display: flex;
  justify-content: center;
  height: 3.333rem;
  height: 100vh;
  position: fixed;

  nav.nav {
    width: 980px;
    width: var(--side-panel-width, 600px);
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    flex-direction: column;

    .nav-brand {
      margin-top: -3.33rem;
      display: flex;
      // align-items: center;
      width: 250px;
      flex-direction: row;
      padding-bottom: 1rem;
      // justify-content: flex-end;
    }

    .nav-collapse {
      display: flex;
      flex-direction: column;
    }

    .social {
      display: flex;
      justify-content: center;
      // width: 66.6667%;
      margin-top: 1.5rem;
    }

    a.nav-link {
      padding: 0.67rem 2rem;
      text-decoration: none;
      color: #fefefe;
      height: 25px;
      display: flex;
      align-items: center;
      // border: 1px solid transparent;
      font-weight: 600;

      &:hover, /* Effekte bei :hover und :focus */
      &:focus {
        // border: 1px dotted #fefefe;
        // border-radius: 5px;
        // background-color: #577;

        transform: scale(1.25) translateX(8px); /* um 25% größer und 8px nach rechts */
        color: #fff; /* weiß statt color: #fefefe; */
      }

      &.dd {
        padding: 0;
        width: 2.2rem;
        height: auto;
        margin: 0 0.8rem;

        stroke: currentColor;
        fill: none;
        /* stroke-linejoin: round; */
        stroke-linecap: round;
        stroke-width: 1.3333px;

        &:hover, /* Effekte bei :hover und :focus */
        &:focus {
          transform: scale(1.33);
          color: #fff;
        }
      }
    }
  }
}

.main-wrapper {
  display: flex;
  justify-content: center;
  left: calc(var(--side-panel-width) * 1.1);
  position: relative;

  main {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    background-color: #f0f8ff99;
    padding: 2rem 0.5rem;
    border-radius: 0.33rem;
    justify-content: center;

    .homepage-content {
      padding: 0 1rem;
    }
  }
}

.img-left {
  // display: inline-block;
  float: left;
  img {
    margin: 0.67rem 1.5rem;
    width: 360px;
    // box-shadow: #ccc 10px 10px 20px;
    // border-radius: 15px;
  }
}

.p3 {
  padding-top: 3rem;
}

img {
  width: 100%;
}

.br2 img {
  border-radius: 2rem;
}
