@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/IBMPlexSans-Regular.woff2") format("woff2"), 
  url("/fonts/IBMPlexSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/IBMPlexSans-SemiBold.woff2") format("woff2"), 
  url("/fonts/IBMPlexSans-SemiBold.woff") format("woff");
}

body {
  background-color: #fefefe;
  position: relative;
  color: #222;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  font-family: "IBMPlexSans", 'IBM Plex Sans', sans-serif;
  min-height: 100vh;
  align-content: center;
}

body::after {
  content: "";
  background-image: url(/img/bg1_1280.jpg);
  background-size: cover;
  opacity: 0.42;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  min-height: 100vh;
}

.nav-wrapper {
  background-color: #27a;
  background: linear-gradient(90deg, #9bc, #27a);
  display: flex;
  justify-content: center;
  height: 3.333rem;
  height: 100vh;
  position: fixed;

  nav.nav {
    width: 980px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
    // flex-direction: column;

    .nav-brand {
      display: flex;
      // align-items: center;
      width: 250px;
      flex-direction: row;
      // justify-content: flex-end;
    }

    .nav-collapse {
      display: flex;
      flex-direction: column;
    }

    a.nav-link {
      padding: .67rem 2rem;
      text-decoration: none;
      color: #fefefe;
      height: 25px;
      display: flex;
      align-items: center;
      border: 1px solid transparent;
      font-weight: 600;

      &:hover,
      &:focus {
        border: 1px dotted #fefefe;
        border-radius: 5px;
        transform: scale(1.067);
        // background-color: #577;
      }
    }
  }
}


.main-wrapper {
  display: flex;
  justify-content: center;
  left: 640px;
  position: relative;

  main {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    background-color: #f0f8ff99;
    padding: 2rem 0.5rem;
    border-radius: .33rem;
    justify-content: center;

    .homepage-content {
      padding: 0 1rem;
    }
  }
}

.img-left {
  // display: inline-block;
  float: left;
  img {
    margin: 0.67rem 1.5rem;
    width: 360px;
  // box-shadow: #ccc 10px 10px 20px;
  // border-radius: 15px;
}
}

.p3 {
  padding-top: 3rem;
}

img {
  width: 100%;
}